body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; /* Inter font added */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818; /* Dark mode bg color */
  color: #e0e0e0; /* Dark mode text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}
